h1 Header ne

button 
    a(href='/') Home
button 
    a(href='/overTours') overTours
if user
    button#logout(style='margin-left: 100px;')
        a(href='/logout') logout
    span=user.name
else
    button(style='margin-left: 100px;')
        a(href='/login') login
    button()
        a(href='/signup') sign up