extends base

block append head
    //- script(src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js')
    //- link(href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet')
    
block content 
    each user in users
        h1= user.name
        img(src=`http://127.0.0.1:3000/images/users/${user.photo}` alt='Girl in a jacket' style=`height:100px;width:100px;`)
        //- #map(data-locations=`${JSON.stringify(tour.locations)}`)
        //- -return
