<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/jumbotron-narrow.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <title><%=title%></title>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
        <ul class="nav nav-pills pull-right">
            <li class="active" role="presentation"><a href="/order/create_payment_url">Tạo mới</a></li>
        </ul>
        <h3 class="text-muted">VNPAY DEMO</h3>
    </div>
    <footer class="footer">
        <p>&copy; VNPAY 2022</p>
    </footer>
  </div>