<%- include('templates/header'); -%>
  <div id="container-blog">
    <div>
      <h1>Hello</h1>
      <p></p>
    </div>
  </div>
  <script src="/js/home.js"></script>
<%- include('templates/footer'); -%>

