<%- include('templates/header'); -%>
    <h1><%=user.name %></h1>
    <button id="updateProfile">Update Profile</button>
    <button id="CreatePost">Create Post</button>
    <div id="container-blog"></div>

    <script src="/js/profile.js"></script>
<%- include('templates/footer'); -%>

