<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="stylesheets/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-beta/cropper.min.js" integrity="sha512-BElV2mz/xl8EHjF95k5qWcXWX28VahaYejkixMk04pwUz3i+TxbTKr4neBkor2S8R9v/0fqGz4ViFo/qrIyq7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div>
      <img id="image" src="images/wallpaperflare.com_wallpaper.jpg">

      
      <script src="javascripts/cropper.js"></script>
    </div>
  </body>
</html>
